EAP/bai03-wcfService/WCFConsoleApp/Connected Services/MovieServiceClient/MovieService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovieService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51451/MovieService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51451/MovieService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51451/MovieService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bai03_wcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovieService_getAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="IMovieService_getAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IMovieService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovieService">
    <wsdl:operation name="getAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/getAll" message="tns:IMovieService_getAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/getAllResponse" message="tns:IMovieService_getAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/Search" message="tns:IMovieService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/SearchResponse" message="tns:IMovieService_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/Add" message="tns:IMovieService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/AddResponse" message="tns:IMovieService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/Edit" message="tns:IMovieService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/EditResponse" message="tns:IMovieService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/Delete" message="tns:IMovieService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/DeleteResponse" message="tns:IMovieService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMovieService" type="tns:IMovieService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAll">
      <soap:operation soapAction="http://tempuri.org/IMovieService/getAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IMovieService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IMovieService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IMovieService/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IMovieService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieService">
    <wsdl:port name="BasicHttpBinding_IMovieService" binding="tns:BasicHttpBinding_IMovieService">
      <soap:address location="http://localhost:51451/MovieService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>